<div class="wil-modal wil-modal--fade" id="modal-login">

        <div class="wil-modal__wrap">

            <div class="wil-modal__content">

                <div class="login-register">

                    <div class="tab tab--form">
                    
                        <ul class="tab__nav">
                            <li><a href="#login">Log In</a></li>
                            <li class="active"><a href="#singup">Sing Up</a></li>
                        </ul>
                    
                        <div class="tab__content">
                    
                            <div class="tab__panel" id="login">
                    
                                <form action="#" class="form">
                    
                                    <div class="form-item">
                    
                                        <label class="label">Username or Email Address <sup>*</sup></label>
                    
                                        <span class="input-text">
                                            <input type="text">
                                        </span>
                    
                                    </div>
                                
                                    <div class="form-item">
                                        <label class="label">Password <sup>*</sup></label>
                                        <span class="input-text">
                                            <input type="password">
                                        </span>
                                    </div>
                    
                                    <div class="form-item">
                                        <label class="input-checkbox">
                                            <input type="checkbox"><span></span>
                                            Remember me?
                                        </label>
                                        <a href="#" class="fr color-primary"><ins>Lost your password</ins></a>
                                    </div>
                    
                                    <div class="form-item">
                                        <input type="submit" value="Login">
                                    </div>
                    
                                    <div class="form-item">
                                        Don't have an account? <a href="#" class="fr color-primary"><ins>Sign up</ins></a>
                                    </div>
                    
                                </form>
                    
                            </div>
                    
                            <div class="tab__panel active" id="singup">
                    
                                <form action="#" class="form">
                    
                                    <div class="form-item">
                                        <label class="label">Username <sup>*</sup></label>
                                        <span class="form__input">
                                            <input type="text">
                                        </span>
                                    </div>
                                
                                    <div class="form-item">
                                        <label class="label">Password <sup>*</sup></label>
                                        <span class="form__input">
                                            <input type="password">
                                        </span>
                                    </div>
                    
                                    <div class="form-item">
                                        <label class="label">Email <sup>*</sup></label>
                                        <span class="form__input">
                                            <input type="text">
                                        </span>
                                    </div>
                                
                                    <div class="form-item">
                                        <input type="submit" value="Register">
                                    </div>
                    
                                    <div class="form-item">
                                        Already have an account? <a href="#" class="fr color-primary"><ins>Log in</ins></a>
                                    </div>
                    
                                </form>
                    
                            </div>
                    
                            <div class="account__switch">
                                <a href="#" class="login__facebook"><i class="fa fa-facebook"></i>Login With Facebook</a>
                                <a href="#" class="login__google"><i class="fa fa-google-plus"></i>Login With Google Plus</a>
                            </div>
                    
                        </div>
                    
                    </div>

                </div>

                <div class="wil-modal__close">Close</div>

            </div>
                
        </div>

        <div class="wil-modal__overlay" style="background-color: rgba(0,108,255, 0.6);"></div>

    </div>