<div class="wil-modal wil-modal--fade" id="modal-login">

        <div class="wil-modal__wrap">

            <div class="wil-modal__content">

                <div class="login-register">

                    <div class="tab tab--form">
                    
                        <ul class="tab__nav">
                            <li><a href="#login">Log In</a></li>
                            <li class="active"><a href="#singup">Sing Up</a></li>
                        </ul>
                    

                    
                    </div>

                </div>

                <div class="wil-modal__close">Close</div>

            </div>
                
        </div>

        <div class="wil-modal__overlay" style="background-color: rgba(0,108,255, 0.6);"></div>

    </div>