                                <div class="header__user">
                                    <div class="tb">
                                        <div class="tb__cell">
                                            
                                                <a href="{{ path("fos_user_security_login") }}"><img src="{{asset('assets/img/icon-user.png')}}" alt="Connexion"></a>
                                            
                                        </div>
                                    </div>
                                  
                                </div>
