                    <div class="header__user">
                                    <div class="tb">
                                        <div class="tb__cell">
                                              
                                            <div class="user__avatar">
                                                <img src="{{asset('assets/img/author-avatar/1.jpg')}}" alt="">
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="user__menu">
                                        <ul>
                                            <li class="user__menu__header">
                                
                                                <div class="user__header__avatar">
                                                    <img src="{{asset('assets/img/author-avatar/1.jpg')}}" alt="">
                                                </div>
                                
                                               
                                            </li>
                                           
                                            <li class="user__menu__item">
                                                <a href="#">
                                                    <i class="fa fa-list"></i>
                                                    Se Connecter
                                                </a>
                                            </li>
                                            
                                            <li class="user__menu__item">
                                                <a href="#">
                                                    <i class="fa fa-edit"></i>
                                                    S'inscrire
                                                </a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                
                                </div>