 <form action="{{path('rechercheProduits')}}" method="POST" class="form form--way">


                
        <div class="form-item item--from">

            {{ form_widget(form.nom, {'attr': {'class': 'input-text input-icon'}}) }}
                    
        </div>
                             
         <div class="form-item item--submit">                                                  
             <input type="submit" value="Valider">
         </div>
                                
   {{form_end(form)}}
  



  