<nav id="header-mobile" class="header-mobile">

        <div class="header-mobile__close"></div>

        <ul class="menu">
            
            <li>
                
                <ul class="sub-menu">
                    
                   
                    <li><a href="{{path('page', {'id' : 1})}}">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
            
                
                </ul>
            </li>

            
        </ul>
    </nav>