

<nav id="header-mobile" class="header-mobile">

        <div class="header-mobile__close"></div>

        <ul class="menu">
            <li class="current-menu-item">
                <a href="#">Nos produits
                    <i class="fa fa-angle-down"></i>
                </a>

                <ul class="sub-menu">
                   {{ render(controller("EcommerceBundle:Categories:menu")) }}
               
  
        </ul>
          </li>
  
        </ul>
        
    </nav>