<footer id="footer" class="bg-scroll" style="background-image: url(assets/img/bg/1.jpg)">

            <div class="container">

                <div class="widget__row footer__widget">

                    <div class="widget__col">

                        <div class="widget widget_newsletter">

                            <h4 class="widget_title">Subscribe</h4>

                            <div class="mailchimp__content">

                                <p>Placerat iaculis imperdiet nunc amet sagittis</p> 
                                
                                <form class="pi_subscribe">
                                
                                    <input type="email" class="pi-subscribe-email" placeholder="Enter your email..." value="">
                                
                                    <button type="submit" class="pi-btn pi-subscribe">Send <i class="icon_mail_alt"></i></button>
                                
                                </form>

                            </div>

                        </div>

                    </div>

                    <div class="widget__col">

                        <div class="widget widget_twitter">

                            <h4 class="widget_title">Twitter</h4>

                            <div class="widget-twitter twitter-slider owl-carousel">
                                <p>Check out 'Rose - Minimalist Agency, Architecture, Blog Theme' on #EnvatoMarket by @wilokethemes #themeforest <a href="https://t.co/TOh0pLlWZI">https://t.co/TOh0pLlWZI</a></p>
                                <p>Check out 'Rose - Minimalist Agency, Architecture, Blog Theme' on #EnvatoMarket by @wilokethemes #themeforest <a href="https://t.co/TOh0pLlWZI">https://t.co/TOh0pLlWZI</a></p>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="footer__logo text-center">
                    <a href="#"><img src="assets/img/logo_foot.png" alt=""></a>
                </div>

            </div>

            <div class="wo__container footer__bottom">

                <div class="row">

                    <div class="col-sm-6 col-sm-push-6">
                        <div class="social_footer">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-sm-pull-6">
                        <div class="copyright">
                            Copyright © 2016 Company Inc.   •  Tel: +98 76543210
                        </div>
                    </div>

                </div>

            </div>

            <div class="overlay" style="background-color: rgba(0,108,255, 0.6);"></div>

        </footer>