     <form action="{{ path('membre') }}" class="form form--listing" method="POST">
                                
            <div class="form-item item--from">

            {{ form_widget(form.code, {'attr': {'class': 'input-text input-icon'}}) }}
                    
            </div>
                
             <div class="form-item item--submit">
                  <input type="submit" value="Valider">
                                                 
           </div>
                                
    {{form_end(form)}}
 
 
 
  



  