{% extends "::layout/layout.html.twig" %}
{% block body %}



 <section id="main">

            <div class="header-page bg-scroll m-bottom-0 p-top-0">

                <div class="header-page__breadcrumb">
                    <div class="container">
                        <ol class="wo_breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><span>About</span></li>
                        </ol>
                    </div>
                </div>

                <div class="overlay" style="background-color: rgba(50,50,51, 1)"></div>

            </div>

            <div class="section section-about p-top-0 p-bottom-0">
                
                <div class="row equal-height">
                    <div class="col-md-6">
                        <div class="about__textblock">
                            <div class="textblock">
                                <h2 class="textblock__title">We Are List&amp;Go</h2>
                                <div class="textblock__content">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wil-image">
                            <img src="assets/img/about/1.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="wil-team">

                    <div class="wil-team__left">
                        <div class="wil-team__carousel owl-carousel">

                            <div class="wil-team__preview" data-hash="wil-team-1">
                            
                                <div class="wil-team__preview-avatar bg-scroll" style='background-image: url(assets/img/about/2.jpg)'>
                                    <img src="assets/img/about/2.jpg" alt="">
                                </div>
                            
                                <h6 class="wil-team__preview-name">Joan Marshall</h6>
                            
                                <span class="wil-team__preview-work">Designer</span>
                                <hr>
                                <div class="wil-team__preview-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            
                            </div>

                            <div class="wil-team__preview" data-hash="wil-team-2">
                            
                                <div class="wil-team__preview-avatar bg-scroll" style='background-image: url(assets/img/about/3.jpg)'>
                                    <img src="assets/img/about/3.jpg" alt="">
                                </div>
                            
                                <h6 class="wil-team__preview-name">Joan Marshall</h6>
                            
                                <span class="wil-team__preview-work">Designer</span>
                                <hr>
                                <div class="wil-team__preview-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            
                            </div>

                            <div class="wil-team__preview" data-hash="wil-team-3">
                            
                                <div class="wil-team__preview-avatar bg-scroll" style='background-image: url(assets/img/about/4.jpg)'>
                                    <img src="assets/img/about/4.jpg" alt="">
                                </div>
                            
                                <h6 class="wil-team__preview-name">Joan Marshall</h6>
                            
                                <span class="wil-team__preview-work">Designer</span>
                                <hr>
                                <div class="wil-team__preview-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            
                            </div>

                            <div class="wil-team__preview" data-hash="wil-team-4">
                            
                                <div class="wil-team__preview-avatar bg-scroll" style='background-image: url(assets/img/about/5.jpg)'>
                                    <img src="assets/img/about/5.jpg" alt="">
                                </div>
                            
                                <h6 class="wil-team__preview-name">Joan Marshall</h6>
                            
                                <span class="wil-team__preview-work">Designer</span>
                                <hr>
                                <div class="wil-team__preview-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            
                            </div>

                            <div class="wil-team__preview" data-hash="wil-team-5">
                            
                                <div class="wil-team__preview-avatar bg-scroll" style='background-image: url(assets/img/about/1.jpg)'>
                                    <img src="assets/img/about/1.jpg" alt="">
                                </div>
                            
                                <h6 class="wil-team__preview-name">Joan Marshall</h6>
                            
                                <span class="wil-team__preview-work">Designer</span>
                                <hr>
                                <div class="wil-team__preview-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            
                            </div>

                            <div class="wil-team__preview" data-hash="wil-team-6">
                            
                                <div class="wil-team__preview-avatar bg-scroll" style='background-image: url(assets/img/about/3.jpg)'>
                                    <img src="assets/img/about/3.jpg" alt="">
                                </div>
                            
                                <h6 class="wil-team__preview-name">Joan Marshall</h6>
                            
                                <span class="wil-team__preview-work">Designer</span>
                                <hr>
                                <div class="wil-team__preview-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            
                            </div>
                        </div>
                    </div>

                    <div class="wil-team__right">

                        <div class="wil-team__list">

                            <div class="wil-team__item">
                            
                                <a href="#wil-team-1">
                            
                                    <div class="wil-team__item-avatar bg-scroll" style="background-image: url(assets/img/about/2.jpg)">
                                        <img src="assets/img/about/2.jpg" alt="">
                                    </div>
                                    <span class="wil-team__item-view"><i class="icon_search"></i></span>
                                </a>
                            
                            </div>

                            <div class="wil-team__item">
                            
                                <a href="#wil-team-2">
                            
                                    <div class="wil-team__item-avatar bg-scroll" style="background-image: url(assets/img/about/3.jpg)">
                                        <img src="assets/img/about/3.jpg" alt="">
                                    </div>

                                    <span class="wil-team__item-view"><i class="icon_search"></i></span>
                                    
                                </a>
                            
                            </div>

                            <div class="wil-team__item">
                            
                                <a href="#wil-team-3">
                            
                                    <div class="wil-team__item-avatar bg-scroll" style="background-image: url(assets/img/about/4.jpg)">
                                        <img src="assets/img/about/4.jpg" alt="">
                                    </div>

                                    <span class="wil-team__item-view"><i class="icon_search"></i></span>
                                    
                                </a>
                            
                            </div>

                            <div class="wil-team__item">
                            
                                <a href="#wil-team-4">
                            
                                    <div class="wil-team__item-avatar bg-scroll" style="background-image: url(assets/img/about/5.jpg)">
                                        <img src="assets/img/about/5.jpg" alt="">
                                    </div>

                                    <span class="wil-team__item-view"><i class="icon_search"></i></span>
                                    
                                </a>
                            
                            </div>

                            <div class="wil-team__item">
                            
                                <a href="#wil-team-5">
                            
                                    <div class="wil-team__item-avatar bg-scroll" style="background-image: url(assets/img/about/1.jpg)">
                                        <img src="assets/img/about/1.jpg" alt="">
                                    </div>

                                    <span class="wil-team__item-view"><i class="icon_search"></i></span>
                                    
                                </a>
                            
                            </div>

                            <div class="wil-team__item">
                            
                                <a href="#wil-team-6">
                            
                                    <div class="wil-team__item-avatar bg-scroll" style="background-image: url(assets/img/about/3.jpg)">
                                        <img src="assets/img/about/3.jpg" alt="">
                                    </div>

                                    <span class="wil-team__item-view"><i class="icon_search"></i></span>
                                    
                                </a>
                            
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="section section-promo text-center" style="background-color: #f5af02; padding-top: 80px;">
                <div class="container">
                    <h3>Our Member</h3>
                    <p>Nor again is there anyone who loves or pursues or desires to obtain pain of itself.</p><br>
                    <a href="#" class="listgo-btn btn-black">Our member</a>
                </div>
            </div>

        </section>


{% endblock %}

 