{% extends "@FOSUser/layout.html.twig" %}



{% block fos_user_content %}

{% trans_default_domain 'FOSUserBundle' %}

<section id="main">
        
            
            <div class="section" style="background-color: #f5f5f5">
                
                <div class="container">
                <H4>
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
                </H4>
                </div>
            </div>
</section>
    
{% endblock fos_user_content %}




