{% trans_default_domain 'FOSUserBundle' %}

<section id="main">
        
            <div class="header-page bg-scroll m-bottom-0" style="background-image:url(assets/img/bg/2.jpg) ">

                <div class="container">

                    <div class="header-page__account">
                        
                        <div class="header-page__account-avatar">

                            <img src="assets/img/author-avatar/4.jpg" alt="">

                            <h4 class="header-page__account-name">Brian Bennett</h4>
                        
                            <span class="member-item__role role--admin">
                                <i class="fa fa-gitlab"></i> Administrator
                            </span>

                        </div>

                        <div class="account-subscribe">

                            <span class="followers"><span class="count">13</span> Followers</span>

                            <span class="following"><span class="count">10</span> Following</span>

                            <a href="#" class="listgo-btn listgo-btn--sm">Follow <i class="fa fa-rss"></i></a>
                        </div>
                        
                    </div>

                </div>

                <div class="overlay" style="background-color: rgba(0,108,255, 0.6)"></div>

            </div>

            <div class="section p-top-0 p-bottom-0">
                <div class="container">

                    <div class="account-nav">

                        <span class="account-nav__toggle">
                            <i class="fa fa-bars"></i> Dashboards
                        </span>

                        <ul class="account-nav__menu">
                            <li><a href="#"><i class="icon_id"></i> Profile</a></li>
                            <li><a href="#"><i class="icon_documents_alt"></i> My listings (20)</a></li>
                            <li><a href="#"><i class="icon_lightbulb_alt"></i> Notifications (20)</a></li>
                            <li><a href="#"><i class="icon_heart_alt"></i> Favourites (12)</a></li>
                            <li class="active"><a href="#"><i class="icon_creditcard"></i> Billing Details</a></li>
                            <li class="menu-item-has-children"><a href="#">
                                <i class="icon_creditcard"></i> Cart</a>
                                <ul class="submenu">
                                    <li><a href="#">My Order</a></li>
                                    <li><a href="#">My Checkout</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="account-nav__addlisting">
                            <a href="#" class="listgo-btn btn-primary listgo-btn--sm listgo-btn--round">+ Add Listing</a>
                        </div>

                    </div>

                </div>
            </div>

            <div class="section" style="background-color: #f5f5f5">
                
                <div class="container">
                    
                    <div class="row">
                
                        <div class="col-lg-8 col-lg-offset-2">
                        
                            <h2 class="author-page__title">
                                <i class="icon_pencil-edit"></i>
                                Modifier Mot de passe
                            </h2>

                            <div class="account-page">

                                <div class="form form--profile">
                                   
                                    <h4 class="profile-title fl">Modification</h4>
                             
                                    <label class="input-toggle fr">
                                        Public profile &nbsp;
                                        <input type="checkbox">
                                        <span></span>
                                    </label>

                                    <div class="clearfix"></div>

                                    <div class="row">

                                        <div class="col-sm-8">

                                            <div class="profile-avatar">
                                                <img src="assets/img/author-avatar/9.jpg" alt="">
                                                <div class="profile-avatar__change">
                                                    <i class="fa fa-camera"></i>
                                                    <a href="#">Change Avatar</a>
                                                </div>
                                            </div>

                                            <div class="profile-background">
                                                <img src="assets/img/icon-photo.png" alt="" class="profile-background__placeholder">
                                            </div>

                                        </div>
                                    </div>

                                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                                        {{ form_widget(form) }}
                                        

                                        

                                        

                                    <div class="row">
                                        <div class="col-sm-8">

                                            <div class="profile-actions">
                                                <!-- icon: fa fa-exclamation-triangle class: error-msg  --> 
                                                
                                                <input type="submit" class="listgo-btn btn-primary  listgo-btn--sm" value="{{ 'change_password.submit'|trans }}">
                                                
                                            </div>

                                        </div>
                                    </div>
                                    {{ form_end(form) }}

                                </div>

                            </div>

                        </div>
                
                    </div>
                
                </div>

            </div>

        </section>



