{% trans_default_domain 'FOSUserBundle' %}


<section id="main">
        
           

            
{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}


            <div class="section" style="background-color: #f5f5f5">
                
                <div class="container">
                    
                    <div class="row">
                
                        <div class="col-lg-8 col-lg-offset-2">
                        
                            <h2 class="author-page__title">
                                <i class="fa fa-credit-card"></i>
                                Recuperation du mot de passe
                            </h2>

                            <div class="account-page">

                                <div class="form form--profile">
                                   
                                    <div class="row">
                                        <div class="col-sm-10">
                                            {{ form_widget(form) }}   
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="profile-actions">
                                                <input type="submit" class="listgo-btn btn-primary listgo-btn--sm" id="_submit" name="_submit" value="{{ 'resetting.reset.submit'|trans }}">
                                              
                                            </div>
                                        </div>
                                        
                                        
                                    
                                    </div>

                             
                                        

                              
                            

                                </div>

                            </div>

                        </div>
                
                    </div>
                
                </div>

            </div>
       {{ form_end(form) }}

    </section>





