.comments {
	margin-bottom: 50px;

	.comment__title {
		margin-bottom: 25px;
	}
}

.comments__header {
	padding-bottom: 20px;
	@extend .clearfix;

	.comment__title {
		margin-top: 0;
		margin-top: 5px;
		margin-bottom: 0;
		font-size: 18px;
		display: inline-block;
	}
}

.comments__header-create {
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	padding: 0 15px;
	line-height: 28px;
	margin-left: 15px;
	@extend %bg-primary;

	&:hover {
		background-color: #eeeeee;
		@extend %color-title;
	}
}

.comments__header-order {
	float: right;
	width: auto;
	height: 40px;
	line-height: 40px;
	border-color: #b4b4b4;
    -webkit-appearance: menulist;
}

.commentlist {
	padding: 0;
	margin: 0;
	list-style-type: none;

	li {
		position: relative;
	}

	.children {
		margin: 0; 
		padding: 0;
		border-width: 0;
		margin-left: 70px;
		list-style-type: none;
	}

}

.comment__inner {
	border-top: 1px solid #e9ecef;
	padding: 30px 0;

	.member-item__role {
		display: block;
		margin-top: 5px;
		font-size: 12px;
		@extend %ellipsis;

		i {
			margin-right: 3px;
			font-size: 14px;
		}
	}
}

.comment__body {
	overflow: hidden;
	position: relative;
}

.comment__content {
	clear: both;
	margin-top: 13px;
	margin-bottom: 20px;
}

.comment__avatar {
	position: relative;
	margin-right: 15px;
	border-radius: 50%;
	float: left;
	max-width: 50px;
	text-align: center;

	img {
		width: 50px;
    	height: 50px;
		border-radius: 50%;
	}

	@media(min-width: 768px) {
		margin-right: 20px;
		max-width: 70px;

		img {
			width: 70px;
			height: 70px;
		}
	}

	@media(min-width: 992px) {
		max-width: 90px;

		img {
			width: 90px;
			height: 90px;
		}
	}
}

.comment__name,
.comment__title {
	font-size: 18px;
	font-style: normal;
	text-transform: capitalize;
	display: inline-block;
	margin-right: 23px;
	font-weight: 600;
	@extend %color-title;
}

.comment__date {
	font-size: 13px;
    color: #9a9b9c;
    float: right;
    @extend %font-title;
}

.comment__edit-reply {
	font-size: 13px;
	letter-spacing: 0.05em;
	color: #9a9b9c;
	@extend %font-title;
	@extend %color-title;

	a {
		margin: 0 1px;

		&:before {
			margin-right: 4px;
			font-family: 'ElegantIcons';
		}

		&:after {
			content: '•';
			margin-right: 5px;
			margin-left: 7px;
		}

		&:last-child::after {
			content: none;
		}

		&.comment-reply-link:before {
			content: '\76';
		}

		&.comment-edit-link:before {
			content: '\6a';
		}

		&:hover::after {
			@extend %color-base;
		}

		i {
			margin-right: 4px;	
		}

		&.active {
			@extend %color-primary;
		}
	}
}

.comment-respond {

	#comment-reply-title, 
	.comment-reply-title {
		margin-bottom: 25px;
		margin-top: 0;
		font-size: 18px;
	}
}

.comments__showmore {
	font-size: 14px;
	text-align: center;
	display: block;
	background-color: #eeeeee;
	padding: 0 30px;
	height: 40px;
	line-height: 40px;
	transition-property: all;
	position: relative;
	font-weight: 600;
	@extend %color-title;
	@extend %font-title;

	&:focus {
		top: 1px;
		text-decoration: none;
	}

	&:hover {
		@extend %color-title;
		@extend %bg-primary;
	}

	&.loading {
		color: transparent;

		.comments__showmore-loading {
			display: block;
		}
	}
}

.comment__gallery {
	margin-left: -5px;
	margin-right: -5px;
	display: block;
	@extend %clearfix;

	a {
		margin-top: 10px;
		padding-left: 5px;
		padding-right: 5px;
		float: left;
		width: 20%;
		background-clip: content-box;

		&:before {
			content: '';
			display: block;
			padding-top: calc(100% - 10px);
		}

		img {
			display: none !important;
		}
	}

	~ .input-upload-file {
		margin-top: 20px;
	}
}

.input-upload-file {
	display: block;
	cursor: pointer;
	border: 1px solid #b4b4b4;
	padding: 10px 20px;
	margin-bottom: 20px;
	margin-top: 5px;
	transition: all 0.3s ease;

	&:hover {
		@extend %border-primary;
		@extend %color-primary;

		svg {
		    fill: $color-primary;
		}
	}

	svg {
		margin-right: 5px;
		transition: all 0.3s ease;
	}

	input[type="file"] {
		display: none;
	}
}

#tab-review {

	.commentlist {

		.comment__title {
			display: block;
			margin-bottom: 2px;
		}

		.comment__date {
			display: block;
			float: none;
		}

		.comment__rated {
			display: block;
			margin-bottom: 5px;
			@extend %color-primary;

			.selected {
				a:before {
					content: '\f005';
				}

				a.active ~ a:before {
					content: '\f006';
				}
			}
		}
	}

	.review_status {
		float: right;
		padding: 13px 0;
	}

	input[type="submit"] {
		float: left;
		width: 200px;
	}

	@media(min-width: 480px) {

		.comment__title {
			margin-right: 80px;
		}

		.comment__rated {
			margin-bottom: 0;
		}

		.comment__date {
			position: absolute;
			right: 0;
			top: 2px;
		}
	}

	@media(max-width: 768px) {
		.review_status {
			float: left;
			clear: both;
		}
	}
}


@media(max-width: 767px) {

	.comments__header .comment__title,
	.comment-respond #comment-reply-title, 
	.comment-respond .comment-reply-title {
		font-size: 16px;
	}

	.comment-form label {
		font-size: 14px;
	}

	.comments__header-order {
		display: none;
	}

	.comment__name {
		font-size: 16px;
	}
}

@media(max-width: 480px) {
	
	.commentlist .children {
		margin-left: 40px;
	}
}

@media(max-width: 320px) {

	.comments__header {
		padding-bottom: 10px;
	}

	.comments__header-create {
		display: none;
	}
}