.wil-blog {
	+ .nav-links {
		margin-top: 20px;
	}
}

.post {
	position: relative;
}

.post__media {
	position: relative;
	z-index: 9;
	
	.images { 
		margin-bottom: 25px;

		~ .post__date {
			top: 10px;
			left: 10px;
			position: absolute;
			margin-left: 0;
			margin-bottom: 0;
		}

		img {
			width: 100%;
		}
	}
}

.post__date {
	width: 60px;  
	margin-bottom: 10px;
	padding: 13px 10px;
	text-align: center;
	font-weight: 600;
	color: #4d4d4d;
	border: 1px solid #f1f1f1;
	@extend %bg-white;
	@extend %font-title;

	span {
		display: block;
	}

	.day {
		font-size: 24px;
		line-height: 1;
		padding-bottom: 4px;
		margin-bottom: 9px;
		letter-spacing: 0.1em;
		border-bottom: 2px solid #4d4d4d;
	}

	.month {
		font-size: 10px;
		letter-spacing: 0.05em;
		line-height: 1;
		text-transform: uppercase;
	}
}

.post__title {
	margin-top: 0;
	font-size: 24px;
	margin-bottom: 5px;
}

.post__meta { 
	margin-bottom: 10px;
	@extend %color-title;
	
	> span {
		display: inline-block;
		font-size: 12px;
		@extend %font-title;

		i {
			margin-right: 3px;
			@extend %color-primary;
		}

		&:after {
			content: '|';
			margin: 0 5px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}
	}
}

.post__entry {
	margin-bottom: 27px;
	@extend .clearfix;
}

.post__more {
	min-width: 155px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	font-weight: 600;
	font-size: 14px;
	border: 2px solid #eee;
	transition: all .3s ease;
	@extend %color-title;
	@extend %font-title;

	i {
		margin-left: 2px;
	}

	&:hover {
		@extend %color-primary;
		@extend %border-primary;
	}
}

.post__tags {

	span {
		font-size: 18px;
		font-weight: 600;
		margin-right: 5px;
		@extend %font-title;
		@extend %color-title;

		&:after {
			content: ':';
		}
	}

	a {
		text-transform: capitalize;
		text-decoration: underline;
	}
}

.post__standard {
	margin-bottom: 40px;

	.post__body {
		margin-left: 100px;
	}

	.post__date {
		@media(min-width: 768px) {
			position: absolute;
			top: 5px;
			left: 0;
		}

		@media(max-width: 767px) {
			margin-left: 50px;
			margin-bottom: 10px;
		}

		@media(max-width: 600px) {
			margin-left: 0;
		}
	}
}

.post__grid {
	margin-bottom: 40px;

	.post__image {
		margin-bottom: 17px;
	}
}

// Single
.post__single {
	margin-bottom: 45px;
}

.header-page__post {
	.post__title {
		font-size: 36px;
		margin-top: 0;
		margin-bottom: 5px;
		@extend %color-white;
	}

	.post__meta {
		margin-bottom: 0;
		@extend %color-white;
	}
}

@media(max-width: 1199px) {
	
}

@media(max-width: 991px) {
	.post__title {
		font-size: 22px;
	}

	.post__tags {
		span {
			font-size: 16px;
		}
	}
}

@media(max-width: 767px) {

	.post__tags {
		a {
			font-size: 13px;
		}
	}

	.post__standard .post__body {
		margin-left: 50px;
	}
}

@media(max-width: 600px) {

	.post__tags {
		a {
			font-size: 13px;
		}
	}

	.post__standard .post__body {
		margin-left: 0;
	}
}

@media(max-width: 480px) {
	.post__title {
		font-size: 20px;
	}
}