{% extends "::layout/layout.html.twig" %}
{% block body %}

<section id="main">

            <div class="header-page bg-scroll p-top-0" style="background-image:url(assets/img/bg/12.jpg) ">

                <div class="container">
                    <div class="header-page__inner">
                        <h2 class="header-page__title">Pricing table</h2>
                    </div>
                </div>

                <div class="header-page__breadcrumb">
                    <div class="container">
                        <ol class="wo_breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><span>Pricing table</span></li>
                        </ol>
                    </div>
                </div>

                <div class="overlay" style="background-color: rgba(0,108,255, 0.6)"></div>

            </div>

            <div class="section p-top-0 p-bottom-50">

                <div class="container">
                    
                    <div class="row">
                
                        <div class="col-md-4">

                            <div class="pricing">

                                <div class="pricing__header bg-scroll" style="background-image: url(assets/img/pricing/1.jpg)">

                                    <h4 class="pricing__title">Basic</h4>

                                    <div class="pricing__price">Free</div>

                                    <p class="pricing__desc">Standard listing submission, active for 30 days.</p>

                                    <!-- <p class="pricing__remain_post">3/5 Number of post</p> -->

                                    <div class="overlay" style="background-color: rgba(0,108,255, 0.6)"></div>

                                </div>

                                <div class="pricing__content">

                                    <ul class="wil-icon-list">
                                       <li><i class="icon_box-checked"></i> One Listing</li>
                                       <li><i class="icon_box-checked"></i> 30 Days Availability</li>
                                       <li><i class="icon_box-checked"></i> Standard Listing</li>
                                       <li class="disable"><i class="icon_close_alt2"></i> Limited Support</li>
                                   </ul>

                                </div>

                                <div class="pricing__foot">
                                    <a href="#" class="listgo-btn btn-black listgo-btn--full">Get Now</a>
                                </div>

                            </div>

                        </div>
                
                        <div class="col-md-4">

                            <div class="pricing">

                                <div class="pricing__header bg-scroll" style="background-image: url(assets/img/pricing/2.jpg)">

                                    <h4 class="pricing__title">Professional</h4>

                                    <span class="pricing__price"><sup>$</sup>10.99</span>

                                    <p class="pricing__desc">Standard listing submission, active for 30 days.</p>

                                    <span class="onfeatued"><i class="fa fa-star-o"></i></span>

                                    <div class="overlay" style="background-color: rgba(0,108,255, 0.6)"></div>

                                </div>

                                <div class="pricing__content">

                                    <ul class="wil-icon-list">
                                       <li><i class="icon_box-checked"></i> One Listing</li>
                                       <li><i class="icon_box-checked"></i> 120 Days Availability</li>
                                       <li><i class="icon_box-checked"></i> Standard Listing</li>
                                       <li class="disable"><i class="icon_close_alt2"></i> Limited Support</li>
                                   </ul>

                                </div>

                                <div class="pricing__foot">
                                    <a href="#" class="listgo-btn btn-primary listgo-btn--full">Get Now</a>
                                </div>

                            </div>

                        </div>
                
                        <div class="col-md-4">

                            <div class="pricing">

                                <div class="pricing__header bg-scroll" style="background-image: url(assets/img/pricing/3.jpg)">

                                    <h4 class="pricing__title">Bussiness</h4>

                                    <span class="pricing__price"><sup>$</sup>20.99</span>

                                    <p class="pricing__desc">Standard listing submission, active for 30 days.</p>

                                    <div class="overlay" style="background-color: rgba(0,108,255, 0.6)"></div>

                                </div>

                                <div class="pricing__content">

                                    <ul class="wil-icon-list">
                                       <li><i class="icon_box-checked"></i> One Listing</li>
                                       <li><i class="icon_box-checked"></i> 364 Days Availability</li>
                                       <li><i class="icon_box-checked"></i> Standard Listing</li>
                                       <li><i class="icon_box-checked"></i> Unlimited Support</li>
                                   </ul>

                                </div>

                                <div class="pricing__foot">
                                    <a href="#" class="listgo-btn btn-black listgo-btn--full">Get Now</a>
                                </div>

                            </div>
                            
                        </div>
                
                    </div>
                
                </div>

            </div>

        </section>
    {% endblock %}